body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-navyblue{
  background-color: #252934;
}

.bg-pink{
  background-color: #E31B6D;
}

.bg-darkblue{
  background-color: #1B242F !important;
}

.bg-transparent{
  background-color: transparent;
}

.bg-cyan{
  background-color: #04C2C9;
}

.bg-project{
  background-color: #F5F5F5;
}

.bg-form{
  background-color: #1E242C;
}

.bg-social{
  background-color: #262F38;
}

.text-navyblue{
  color: #252934;
}

.text-pink{
  color: #E31B6D;
}

.text-ash{
  color: #45474A;
}

.text-cyan{
  color: #00A1A7;
}

.font-100{
  font-weight: 100;
}

.font-300{
  font-weight: 300;
}

.font-400{
  font-weight: 400;
}

.font-500{
  font-weight: 500;
}

.font-700{
  font-weight: 700;
}

.font-32{
  font-size: 32px;
}

.font-12{
  font-size: 12px;
}

.font-14{
  font-size: 14px;
}

.font-24{
  font-size: 24px;
}

.homepage{
  background: linear-gradient(rgba(37,41,52,0.99),rgba(37,41,52,0.95)),url(./assets/wallpaper.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.p-50{
  padding-top: 30vh;
}

.p-60{
  padding-top: 60vh;
}

.work-button{
  border: 2px solid white;
  transition: 0.5s;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.portfolio-button{
  border: 2px solid #E31B6D;
  transition: 0.5s;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: transparent;
}

.project-button{
  border: 2px solid #E31B6D;
  transition: 0.5s;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #E31B6D;
}

.project-button:hover{
  transform: scale(1.01);
}

.portfolio-button:hover{
  background-color: #E31B6D;
  color: #E31B6D;
}

.submit-button{
  background-color: transparent;
  border: 2px solid white;
  transition: 0.5s;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.work-button:hover{
  background-color: #04C2C9 !important;
  border: 2px solid #04C2C9;
}

.submit-button:hover{
  background-color: #04C2C9 !important;
  border: 2px solid #04C2C9;
}

.work-button svg{
  transition: 0.2s;
}

.work-button:hover svg{
  transform: rotate(90deg);
}

.navigbar{
  background-color: #1B242F;
}

a{
  text-decoration: none !important;
}

.navlink::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #E31B6D;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navlink:hover::after{
  width: 100%;
}

a.navlink{
  text-decoration: none !important;
  transition: 0.5s;
}

a.navlink:hover{
  color: #E31B6D !important;
}

a.navlink:active{
  color: #E31B6D !important;
}

.line{
  height: 0.5vh;
}

.pointer{
  cursor: pointer;
}

.about-line{
  height: 4px;
  margin-left: 42vw;
  margin-right: 42vw;
  background-color: #45474A;
  display: flex;
  justify-content: center;
}

.about-mobile-line{
  height: 4px;
  margin-left: 36vw;
  margin-right: 36vw;
  background-color: #45474A;
  display: flex;
  justify-content: center;
}

.contact-line{
  height: 4px;
  margin-left: 42vw;
  margin-right: 42vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.contact-mobile-line{
  height: 4px;
  margin-left: 36vw;
  margin-right: 36vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.pentagon {
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: #04C2C9 transparent;
  transform: scale(1.3);
}
.pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent #04C2C9;
}

.about-image{
  transform: scale(0.7);
}

.margin-minus{
  margin-top: -5vh;
}

.sticky{
  position: sticky;
  top: 0;
  z-index: 1;
}

.input-div input, .input-div textarea{
  padding: 6px 10px;
  border: 1px solid #1E242C;
  color: #FFF;
}

::placeholder {
  font-size: 14px;
}

.input-div input:focus, .input-div textarea:focus{
  outline: none;
}

.totop{
  width: 45px;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -12vh;
  cursor: pointer;
}

.totop svg{
  color: white;
  margin-top: 13px;
  transform: scale(1.5);
}

.social-div svg{
  color: white;
  transform: scale(2.0);
  transition: 0.5s;
}

.social-div:hover svg{
  color: #E31B6D;
}

.navigbar svg{
  color: white;
  transform: scale(3.0, 2.5);
  cursor: pointer;
  transition: 0.5s;
}

.navigbar svg:hover{
  color: #E31B6D;
}

.navigbar svg.close{
  color: white;
  transform: scale(2.0, 2.0);
  cursor: pointer;
}

.navigbar svg.close:hover{
  color: #E31B6D;
}

.mobile-nav{
  transition: 0.5s !important;
  display: none;
}

.mobile-icon{
  transform: scale(0.9);
}

.close-icon{
  color: #E31B6D;
  transform: scale(1.2);
  cursor: pointer;
}

.hamburger{
  transform: scale(1.5) !important;
}

.close{
  transform: scale(1.4) !important;
}

